<app-alert *ngIf="alert != ''" [content]="alert"> </app-alert>
<div class="control-section">
  <ejs-grid
    #grid
    [dataSource]="List"
    locale="vi"
    allowPaging="true"
    [pageSettings]="pageSettings"
    [editSettings]="editSettings"
    [toolbar]="toolbar"
    [allowSorting]="true"
    (actionBegin)="actionBegin($event)"
    (dataBound)="dataBound($event)"
    (load)="onLoad()"
  >
    <e-columns>
      <e-column
        field="ten"
        headerText="Tên khách hàng"
        width="150"
        textAlign="Left"
      ></e-column>
      <e-column
        field="diachi"
        headerText="Địa chỉ"
        width="150"
        textAlign="Left"
      ></e-column>
      <e-column
        field="gioitinh"
        headerText="Giới tính"
        width="80"
        textAlign="Left"
        type="text"
      ></e-column>
      <e-column
      field="SĐT"
      headerText="Số điện thoại"
      width="80"
      textAlign="Left"
      type="float"
      ></e-column>
      <e-column
      field="ten"
      headerText="Ngày tạo"
      width="190"
      textAlign="Left"
      type="date"
      [allowEditing]="false"
      ></e-column>
    </e-columns>
  </ejs-grid>
</div>
